body {
  font-family: "Nanum Gothic", sans-serif;
}

.signup_form {
  width: 360px;
  margin: 60px auto;
  padding: 20px;
}

.signup_form legend {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px;
}

.signup_form label {
  display: block;
  margin: 20px auto;
  font-weight: 700;
}

.signup_form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 6px;
  border: none;
  border-bottom: 1px solid black;
}

.signup_form input:focus {
  outline: none;
  border-bottom: 1px solid teal;
}

.signup_form button {
  margin-top: 40px;
  float: right;
  background-color: teal;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.email_error {
  display: inline-block;
  color: red;
  margin-top: 10px;
}
