@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* base styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

ul {
  list-style-type: none;
}

.loading-icon {
  display: block;
  margin: 120px auto 10px auto;
}

.loading-txt {
  display: block;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}
